body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.toolbar {
    margin: 20px;
    margin-right: 400px;
}

#canvasContainer {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: flex-start; /* Align to top to avoid centering issues */
    justify-content: center;
    margin-right: 350px;
   
}

#canvas {
    width: 210mm; 
    height: 297mm; 
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.item {
    position: absolute;
    border: 1px dashed #000;
    resize: both;
    overflow: auto;
}

.text-item {
    padding: 5px;
    outline: 1px solid #000;
}

.template-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.resizable {
    position: absolute;
    resize: both;
    overflow: hidden;
    border: 1px solid #ccc;
}

.resize-handle {
    width: 10px;
    height: 10px;
    background: #7CB9E8;
    position: absolute;
}

.resize-handle.top-left { top: -5px; left: -5px; cursor: nwse-resize; }
.resize-handle.top-right { top: -5px; right: -5px; cursor: nesw-resize; }
.resize-handle.bottom-left { bottom: -5px; left: -5px; cursor: nesw-resize; }
.resize-handle.bottom-right { bottom: -5px; right: -5px; cursor: nwse-resize; }

#textboxProperties {
    width: 20%;
    background-color: #fff;
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #ccc;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}
* {
    -webkit-user-select: none;
    user-select: none;
}
.selected-item {
    outline: 2px solid #0066ff;
}
